.selection-header {
  overflow: hidden;
  background-color: #f1f1f1;
  padding: 20px 10px;
  top: 10px;
  }
  
  body {
    background-image: url("https://www.teahub.io/photos/full/93-938757_75-web-website-background-color.jpg");
    background-size: cover;
    color: white !important;
  }

  .dropdown1 {position: top;display: inline-block;}
  
  .selection-header button, .selection-header a {

    background-color: rgb(72, 135, 207);;
    font-weight: bold;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    transition: opacity 0.15s;
  }
  
  .selection-header button:hover {opacity: 0.7;}
  
  .problem-dropdown {
    color: white;
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 5px;
    font-family: system-ui;
  }
  
  .problem-dropdown a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    transition: background-color 0.15s;
  }
  
  .dropdown1:hover .problem-dropdown {display: block;}
  
  .problem-dropdown a:hover {
    background-color: #bbbbbb;
  }
  
  .dropdown2 {position: right;display: inline-block;}
  
  .solution-dropdown {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    font-family: system-ui;
  }
  
  .solution-dropdown a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    transition: background-color 0.15s;
  }
  
  .dropdown2:hover .solution-dropdown {display: block;}
  
  .solution-dropdown a:hover {
    background-color: #bbbbbb;
  }

  .dropdown3 {
    position: right;display: inline-block;}
  
  .future-dropdown {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    font-family: system-ui;
  }
  
  .future-dropdown a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    transition: background-color 0.15s;
  }
  
  .dropdown3:hover .future-dropdown {display: block;}
  
  .future-dropdown a:hover {
    background-color: #bbbbbb;
  }
  .github {float: right;}
  
  .top-text {
    backdrop-filter: blur(10px);
    border-style: solid;
    border-width: 10px;
    border-color: white;
    box-shadow: 5px 10px black;
    margin-top: 10px;
    padding-right: 200px;
    padding-left: 20px;
    padding-top: 75px;
    padding-bottom: 100px;
    background-size: cover;
    background-color: rgb(72, 135, 207);
    color: white;
    font-size: 18px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
  }
  
  .text-container {
    background-color: rgb(72, 135, 207);
    backdrop-filter: blur(10px);
    margin-top: 20px;
    width: 1200px;
    height: 1500px;
    border-style: solid;
    border-color: white;
    border-width: 10px;
    box-shadow: 5px 10px black;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
  }
  
  .text-container p {
    font-family: system-ui;
    font-size: medium;
  }
  
  .text-container h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: larger;
  }
  
  .text-container ul {
    font-family: system-ui;
    font-size: medium;
  }
  
  .text-container h3 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;  
  }
  
  #blue-brain {
    width:370px;
    height: 220px;
    margin-top: 10px;
    float: left;
    margin-right: 10px;
    border-style: solid;
    border-width: 2px;
    border-color: white;
  }
  
  #substantia-nigra {
    float: right;
    width: 480px;
    height: 260px;
    margin-top: 270px;
    margin-right: 10px;
    margin-left: 10px;
    border-style: solid;
    border-width: 2px;
    border-color: white;
  }
  
  .definition-text, .definition-title {
    margin-left: 10px;
    border-style: solid;
    border-color: transparent;
    width: auto;
    height: auto;
  }
  
  .dopamine-title {padding-top: 30px;}
  
  #danger-sign {
    width: 70px;
    height: 60px;
    margin-left: 5px;
    margin-right: 5px;
    float: left;
  }
  
  .cause-title {
    margin-top: 10px;
    border-style: solid;
    border-color: transparent;
    height: 1px;
  }
  
  .cause-text {
    border-style: solid;
    border-color: transparent;
    width: 500px;
    height: 23px;
  }
  
  .cause-list {float: left;margin-top: 0px;}
  
  .gender-title {
    position: absolute;
    right: 370px;
    top: 515px;
    margin-top: 37px;
  }
  
  .gender-text {
    border-style: solid;
    border-color: transparent;
    width: 300px;
    height: 20px;
    position: absolute;
    right: 189px;
    top: 555px;
  }
  
  #gender-display {
    height: 400px;
    width: 400px;
    position: absolute;
    right: 0px;
    margin-right: 10px;
    margin-top: 150px;
    border-style: solid;
    border-width: 2px;
    border-color: white;
  }
  
  #age-display {
    position: absolute;
    width: 424px;
    height: 315px;
    left: 10px;
    margin-top: 150px;
    border-style: solid;
    border-width: 2px;
    border-color: white;
  }
  
  .age-title {
    position: absolute;
    text-align: center;
    right: 550px;
    margin-top: 150px;
  }
  
  .age-text {
    position: absolute;
    text-align: center;
    right: 450px;
    margin-top: 180px;
    border-style: solid;
    border-color: transparent;
    width: 300px;
  }
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  